
body {
	background-color: #fdfec0;
}

#title{

	color:#000000;
	width:85%;
	font-size: 200%;
	font-weight: 800
	font-style: oblique;
	position:fixed;
	height: 50px;
	margin-top: 8px;
	margin-left: 10px;
	background-color: #fdfec0;
	z-index:-1 ;
	top: 0;
}

#logout {
	border: solid;
	border-width: 1.5px;
	border-color: red;

	font-family: "fantasy";
	font-size: 20px;
	display:block;
	display: inline-block;
	position:fixed;
	width: 13%;
	height: 54px;
	text-align: center;
	text-decoration: none;
	outline: none;
	position: relative;
	z-index: 2;
	background-color: #fdfec0;
	color: #333;
	line-height: 50px;
	margin-right: 22px;
	margin-bottom: 10px;
	overflow: hidden;

}
#logout::before,
#logout::after {
	position: absolute;
	z-index: -1;
	display: red;
	content: '';
}
#logout,
#logout::before,
#logout::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#logout:hover {
	color: #fff;
	border: solid;
	border-width: 1.5px;
	border-color: red;
}

#logout::after {
	top: -100%;
	left: -100%;
	width: 100%;
	height: 100%;
}
#logout:hover::after {
	top: 0;
	left: 0;
	background-color: #ff0000;
}

.search {

	text-align:center;
	position:fixed;
	left: 80%;
	margin: 1em 1em;
	margin-top: 158px;
	padding: 10px;
    background: #e4e4e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

#search {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 2% 38%;   /* 余白       */
  background    : #e4e4e4;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 13px #666666;  /* 影の設定 */
}
#search:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}

.errorMessages {
	z-index:1 ;
	font-size: 150%;
	color:red;
	text-align:left;
	margin-left: 30%;
	margin-bottom: -7%;
}

ul {
	z-index:1 ;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: -50px;
    -webkit-margin-end: 0px;
    -w
}

.errorMessagesLogin {
	font-size: 150%;
	color:red;
	margin-left: 20%
}

.search .box-title {
    font-size: 1.2em;
    background: #aaaaaa;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.search p {
    padding: 15px 20px;
    margin: 0;
}

.messages {
    position: relative;
    padding: 0.25em 1em;
    margin: 100px 0;
    top: 0;
    background: #fdfec0;
}

.messages:before, .messages:after{
    position: absolute;
    top: 0px;
    content:'';
    width: 10px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.messages:before{
    border-left: dotted 2px #000000;
    border-top: dotted 2px #000000;
    border-bottom: dotted 2px #000000;
    left: 0;
}
.messages:after{
    border-top: dotted 2px #000000;
    border-right: dotted 2px #000000;
    border-bottom: dotted 2px #000000;
    right: 0;
}

.maincontents {
	width:60%;
	height:100%;
	margin:auto;
	padding-top: 45px;
}

.header {
	width:150px;
	height:100%;
	float: left;
	margin-top: 150px;
	margin-left: 25px;
	position:fixed;
	top: 0;
}

#menu {
	border: solid;
	border-width: 1.5px;
	font-family: "fantasy";
	font-size: 20px;
	display:block;
	display: inline-block;
	width: 125%;
	height: 54px;
	text-align: center;
	text-decoration: none;
	outline: none;
	position: relative;
	z-index: 2;
	background-color: #fdfec0;
	color: #333;
	line-height: 50px;
	margin-bottom: 10px;
	overflow: hidden;

}
#menu::before,
#menu::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
#menu,
#menu::before,
#menu::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#menu:hover {
 	color: #fff;
	border: solid;
	border-width: 1.5px;
	border-color: #000000;
}

#menu::after {
	top: -100%;
	left: -100%;
	width: 100%;
	height: 100%;
}
#menu:hover::after {
	top: 0;
	left: 0;
	background-color: #333;
}



.message {
	padding: 0.5em 1em;
	margin: 0.5em 0.5em;
	color: #232323;
    background: #ffffff;
    border-left: solid 10px #000000;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.09);
}

.message p {
    margin: 0;
    padding: 0;
}

input.messageDel[type="submit"] {
	margin-left: 0%;
}

.comments {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #232323;
    background: #ffffff;
    border-left: solid 10px #c0c0c0;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.09);
    margin-left: 100px;
}

.comments p {
    margin: 0;
    padding: 0;
}

.login {
	float: left;
	padding: 25px;
	width:30%;
	margin-left: 33%;
	margin-top: 0%;
}

.login p{
	text-align:center;
}

#login_title {
color: #000000;/*文字色*/
font-size: 200%;
border: solid 3px #09c4ba;/*線色*/
padding: 0.5em;/*文字周りの余白*/
border-radius: 0.5em;/*角丸*/
padding-left: 33%;
}

#login_id ,#password{
	width: 300px;
	padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}
#login_id:focus, #password:focus {

	padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

#go {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 11px;   /* 余白       */
  background    : #caffff;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 13px #666666;  /* 影の設定 */
}
#go:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}

.settings .main {
	float: left;
	padding: 25px;
	width:50%;
	margin-left: 33%;
	margin-top: 0%;
}

#login_title {
color: #000000;/*文字色*/
font-size: 200%;
border: solid 3px #09c4ba;/*線色*/
padding: 0.5em;/*文字周りの余白*/
border-radius: 0.5em;/*角丸*/
padding-left: 33%;
}

#login_id ,#password, #passwordcheck, #name, #title-box, #text-box, #category-box {
	width: 300px;
	padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}
#login_id:focus, #password:focus , #passwordcheck:focus, #name:focus, #title-box:focus, #text-box:focus, #category-box:focus{

	padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

.form-area {
	float: left;
	padding: 25px;
	width:50%;
	margin-left: 0%;
	margin-top: 0%;
}

/* label {
	text-align: left;
} */

f1 {
    width: 100%;
    padding: 50px;
}

f2 {
    width: 100%;
    padding: 50px;
}

label1 {
    position: relative;
    display: block;
    width: 125px;
    height: 38px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    background: #fff;
}

label1:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    margin: -4% 0 0 0;
    border: 5px solid transparent;
    border-top: 7px solid #c0c0c0;
}
#select {
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 126px;
    padding: 7% 15px;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: transparent;
}

#set {
margin-left: 27%;
  position: relative;
  text-align: center;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 11px;   /* 余白       */
  background    : #caffff;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 13px #666666;  /* 影の設定 */
}
#set:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}

.copyright {
color: #505050; /* 文字の色　#336666 */
font-size: 15px; /* 文字の大きさ　10px */
text-align: right;
padding: 20px 15px; /* 内側の余白　上下20px　左右0 */
position: fixed;
right: 0px;
bottom: 0px;

}

.post {
	margin-left:27%;
	margin-top: 8%;
}

TABLE {
	margin-top: 10%;
	width:100%;
}


TABLE TR{
border: 1px solid #b9b9b9;
padding:3px;
}
TABLE TD{
border: 1px solid #b9b9b9;
text-align:center;
padding:3px;
}
TABLE TR:hover {
background-color: #CCFFFF;  /* マウスオーバー時の行の背景色 */
}
TABLE TD:hover {
background-color: #CCFFFF;  /* マウスオーバー時のセルの背景色 */
}

.Del {
	margin-left: 0%;
}

